<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register</title>
<script type="text/javascript"
 		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="main.js"></script>
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    body {
    	background-image: url("website-login-background.jpg");
    	background-color: #cccccc;
    }
</style>
</head>
<body ng-app="myApp">
<div ng-controller="userLogCtrl">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Wallpaper store</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		     
		      <li class="nav-item">
		        <a class="nav-link" href="index.html">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="authors.html">Authors</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="filter.html">Filter</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="authors.html">Authors</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav navbar-nav-right">
		    <!--<form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>-->
		    
			 <li class="nav-item" ng-show="!logged">
		        <a class="nav-link" href = "login.html">Sign In</a>
		      </li>
		      <li ng-show="logged" class="nav-item">
		      	<a class="nav-link" href = "" ng-click="logout()">Sign Out</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="register.html">Join</a>
		      </li>
		      <li class="nav-item">
				<a class="nav-link" href="cart.html"><i class="fas fa fa-shopping-basket"></i></a>
			</li>
			<li class="nav-item" ng-show="logged">
				<a class="nav-link" href="profile.html"><i class="fas fa-user"></i></a>
			</li>
		    </ul>
		  </div>
	</nav>
</div>
<br />
<br />
<br />
<div class="login-form" ng-controller="userCtrl">
    <form>
        <h2 class="text-center">Register</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" ng-model="user.username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" ng-model="user.password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" required="required" ng-model="user.email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Country" required="required" ng-model="user.country">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Card number" required="required" ng-model="user.card_nr">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" ng-click="register()">Register</button>
        </div>
    </form>
</div>
</body>
</html>                                		                            